.header {
    display: none;
    z-index: 8000;
}

@media screen and (max-width: 1234px) {
    .header {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        width: 100%;
        height: 68px;
        padding: 0px 20px;
        background-color:#fff;
        border-bottom: 1px solid rgb(239, 241, 246);
        box-shadow: 5px 0px 5px rgb(239, 241, 246);
        z-index: 8000;
        top: 0;
        left: 0;
    }
}